.Dashboard-pages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.Dashboard-pages > div {
    width: 250px;
    Xheight: 350px;
    margin: 0px;
    padding: 10px;
    Xoverflow: hidden;
}